ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1
country=US

network={
  ssid="{{ primary_wifi_ssid }}"
  psk="{{ primary_wifi_password }}"
  # Key management type can be WPA-PSK (pre-shared), WPA-EAP (enterprise)
  key_mgmt=WPA-PSK
}
